# Backup files from emacs #
###########################
*~

# Auxiliary, log, and contents files from pdftex#
#################################################
*.aux
*.log
*.toc

# Raw, log, and sorted index files (makeindex) #
################################################
*.idx
*.ilg
*.ind

# Processed bibliography and log (bibtex) #
###########################################
*.bbl
*.blg

# Output file from hyperref #
#############################
*.out

# The final pdf file of the book #
##################################
os-book.pdf
